@using System.Threading.Tasks
@using dotnet_g23.Models.Domain

@{
    ViewData["Title"] = "Register";
}

@model dotnet_g23.Models.ViewModels.OrganizationViewModels.IndexViewModel

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Organizations == null)
                {
                    <em>Geen groepen gevonden</em>
                }
                else
                {
                    foreach (var org in Model.Organizations)
                    {
                        <div class="card">
                            <form asp-controller="Register" asp-action="Register" method="post" class="form-horizontal">
                                <p>
                                    @org.Name - @org.Location
                                    <input type="hidden" value="@org.OrganizationId" name="OrganizationId" />
                                    <input type="submit" value="Registreer" class="btn btn-secondary btn-md f-right" />
                                </p>
                            </form>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>