@{
    ViewData["Title"] = "Create";
}

<div class="content">
    <div class="GBCard">
        <span>Poverello</span> - <span>Brugge</span>
        <form asp-action="Register">
            <input type="submit" value="registreer"/>
        </form>
    </div>

</div>