@{
    ViewData["Title"] = "Create";
}
<div class="GBRegistrationContainer">
    <div class="GBRegistrationCard">
        <form>
            <input type="text" placeholder="Groepsnaam" />
            <input type="radio" name="type" value="gesloten" checked> Gesloten
            <input type="radio" name="type" value="open"> Open<br>
            <input type="text" placeholder="Email teamlid" />
        </form> 
        <div class="GBRegistrationCardSubmit">
            <span>registreer</span>
        </div>
    </div>

</div>