﻿@using Microsoft.AspNetCore.Identity
@using dotnet_g23.Models
@using dotnet_g23.Models.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        Ingelogd als @UserManager.GetUserName(User).Split('@')[0].Split('.')[0]
    </li>
    <li class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
            <a href="#" class="btn btn-secondary m-l-1" onClick="$(this).closest('form')[0].submit();">Uitloggen</a>
        </form>
    </li>
}
else
{
    <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link"><i class="fa fa-user-plus"></i> Registreren</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-secondary m-l-1"><i class="fa fa-sign-in"></i> Inloggen</a></li>
}