@if (TempData["Message"] != null)
{
    <div class="row m-b-1">
        <div class="col-lg-12">
            <div class="alert alert-danger"><strong>Fout: </strong>@TempData["Message"]</div>
        </div>
    </div>
}