@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if (await AuthorizationService.AuthorizeAsync(User, "participant")) {
    <li class="nav-item">
        <a asp-area="" asp-controller="Organization" asp-action="Index" class="nav-link">
            <span>GB Organisaties</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Group" asp-action="Index" class="nav-link">
            <span>Groepen</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Label" asp-action="Index" class="nav-link">
            <span>Organisaties</span>
        </a>
    </li>
}
@if (await AuthorizationService.AuthorizeAsync(User, "lector")) {
    <li class="nav-item">
        <a asp-area="" asp-controller="Motivation" asp-action="Check" class="nav-link">
            <span>Motivaties</span>
        </a>
    </li>
}