<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h2>Oeps...</h2>
                <p class="large">
                    Het lijkt erop dat jij wel zin hebt in een avontuur! <br>
                    Je hebt echter geen toegang tot deze pagina, beste avonturier. <br> 
                    Het spijt ons.
                </p>
                <p class="medium">
                    Ben je al geregistreerd op het Goed Bezig platform?
                </p>
                <p class="medium">
                    Hiervoor hoef je als Give A Day vrijwilliger enkel te registreren bij een Goed Bezig organisatie!
                </p>
                <p class="medium">
                    <a asp-action="Index" asp-controller="Organization" class="btn btn-secondary f-xs-left f-md-none mrg-sm-vert clear-xs clear-sm-none">
                        <span>Goed Bezig organisaties &raquo;</span>
                    </a>
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/images/accessdenied.svg" alt="Avonturier">
            </div>
        </div>
    </div>
</div>