﻿@using System.Collections.Generic
@using dotnet_g23.Models.Domain
@using dotnet_g23.Models.ViewModels.AccountViewModels
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model dotnet_g23.Models.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Inloggen";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 push-lg-2 col-md-8 push-md-2 col-sm-10 push-sm-1">
                            <section>
                                <h2>@ViewData["Title"]</h2>
                                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    Log in bij Goed Bezig met uw Give A Day-account.
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <label asp-for="Email" class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                            <input asp-for="Email" type="text" class="form-control" placeholder="email" autofocus />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <label asp-for="Password" class="input-group-addon control-label">
                                                <i class="fa fa-key"></i>
                                            </label>
                                            <input asp-for="Password" type="password" class="form-control" placeholder="wachtwoord" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary f-xs-left f-sm-right mrg-sm-vert">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Inloggen</span>
                                        </button>
                                        <a asp-action="Register" class="btn btn-secondary f-xs-left f-md-none mrg-sm-vert clear-xs clear-sm-none">
                                            <i class="fa fa-user-plus"></i>
                                            <span>Registreren</span>
                                        </a>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
        </div>
    </div>
</div>