@{ ViewData["Title"] = "Home"; }


@Html.Partial("_ContainerStart")
<div class="row">
    <div class="col-lg-12">
        <div class="welcome">
            <h1>Welkom bij Goed Bezig!</h1>
            <p>
                <strong>Goed Bezig!</strong> is een platform gemaakt door Give A Day om hun vrijwilligers de kans te geven hun
                favoriete organisaties een hart onder de riem te steken en zeggen dat ze... Goed Bezig zijn!
            </p>
        </div>
    </div>
</div>
@Html.Partial("_ContainerEnd")