<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h2>Oeps...</h2>
                <p class="large">
                    Het lijkt erop dat jij ons diepste geheim hebt bereikt "de supercomputer". <br>
                    Onze supermachine is momenteel hard aan het werken om alle data te verwerken, en kan je niet verder helpen. Het spijt ons.
                </p>
                <p class="medium right">
                    Error 404 - pagina niet gevonden
                </p>
                <p class="medium">
                    Ps. Vertel aan niemand over onze supercomputer. <br>
                    Het is een geheim tussen ons SSSHHHTTTT!
                </p>
            </div>
            <div class="col-lg-6">
                <img src="https://www.giveaday.be/design/img/supercomputer.gif" dynsrc="https://www.giveaday.be/design/img/supercomputer.gif" loop="infinite" alt="Super computer">
                <a asp-controller="Home" asp-action="Index" class="btn">Terug naar de home pagina</a>
            </div>
        </div>
    </div>
</div>