@{
    ViewData["Title"] = "Register";
}

<div class="GBContainer">
    <div class="GBCard">
        <span>Poverello</span> - <span>Brugge</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
    <div class="GBCard">
        <span>CM Oppas Aan Huis</span> - <span>Antwerpen</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
    <div class="GBCard">
        <span>Le Crayon Taalkampen</span> - <span>Kuurne</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
</div>
