@using System.Threading.Tasks
@using dotnet_g23.Models.Domain

@{
    ViewData["Title"] = "Register";
}
@model IEnumerable<Organization>

<div class="GBContainer">
    @foreach (var org in Model)
    {
        <div class="GBCard">
            <form asp-controller="Register" asp-action="Register" method="post" class="form-horizontal">
                <span>@org.Name - @org.Location</span>
                <input type="hidden" value="@org.OrganizationId" name="OrganizationId"/>
                <input type="submit" value="registreer" class="GBCardSubmit"/>
            </form>
        </div>
    }
</div>
