@{
    ViewData["Title"] = "Register";
}
<!--
<div class="GBContainer">
    <div class="GBCard">
        <span>Poverello</span> - <span>Brugge</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
    <div class="GBCard">
        <span>CM Oppas Aan Huis</span> - <span>Antwerpen</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
    <div class="GBCard">
        <span>Le Crayon Taalkampen</span> - <span>Kuurne</span>
        <div class="GBCardSubmit">
            <span>registreer</span>
        </div>
    </div>
</div>
-->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <p>Poverello - Brugge
                        <a class="btn btn-secondary btn-md f-right" href="#" role="button">Registreer</a>
                    </p>
                </div>
                <div class="card">
                    <p>CM Oppas Aan Huis - Antwerpen
                        <a class="btn btn-secondary btn-md f-right" href="#" role="button">Registreer</a>
                    </p>
                </div>
                <div class="card">
                    <p>Le Crayon Taalkampen - Kuurne
                        <a class="btn btn-secondary btn-md f-right" href="#" role="button">Registreer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>